<div class='row'>
  <div class='col-sm-4 '>
    <div class='row'>
      <h3>Admin</h3> 
      <h5>email : admin@test.com</h5>
      <h5>password : password</h5>
    </div>
    <div class='row'>
      <h3>User</h3> 
      <h5>email : user1@test.com</h5>
      <h5>password : password</h5>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class='col-sm-offset-4'><h2>Log in</h2></div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :class => 'navbar-form navbar-left') do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", :class => 'btn btn-default' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
